
{% extends 'plantilla/index.html' %}

{% block style %}
<style>
    .navbar {
        font-size: 18px;
    }

    html{
        position: relative;

    }

    body {
        font-family: 'Poppins', sans-serif;
        background-color: #fdfdfd;
        font-weight: 200;
    }

    .content-detalle {
        width: 95%;
        margin: 30px auto;
        background-color: rgba(65, 105, 225, 0.113);
        border: 1px solid rgba(65, 105, 225, 0.161);
        padding: 20px;
        border-radius: 10px;


    }

    .titulo-detalle {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;

    }

    
</style>
{%endblock%}


{% block content %}

<div class="content-detalle">
    <h3 class="titulo-detalle">Resultados del monitoreo.</h3>

    {% if result %}
        <h5>Resultado: paciente <span style="font-weight: 600; color: rgb(103, 137, 240);">{{ nombre_paciente }}</span> en sala.</h5>
    {% else %}
        <h5>No se pudo reconocer el rostro en la imagen.</h5>
    {% endif %}

</div>
{% endblock %}


    
